---
// export const prerender = true;
import Posts from "../components/Posts.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="HRW - Text version powered by Astro">
  <div>
    <main>
      <h1>
        Welcome to <a href="https://nextjs.org">Human Rights Watch</a>
      </h1>
      <Posts />
    </main>
  </div>
</Layout>
